<suite name="Parameter test Suite" verbose="1">
    <!-- This parameter will be passed to every test in this suite -->
    <parameter name="string" value="string  parameter" />
    <test name="Parameter Test one">
        <classes>
            <class name="com.itc.AppTest">
                <methods>
                    <include name="funcWithParam" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
