/*cv.html*/

html > body {
    background: #EAE8E7;
}

.container {
    margin-top: 2%;
}

.left-column {
    margin-right: 0;
    background: #5DA4D9;
    width: 27%;
}

.imgText {
    height: 10%;
    text-align: center;
    color: white;
    margin: -45% 0 15% 0;
}

.imgDiv {
    float: bottom;
    margin-bottom: 18%;
    width: 100%;
}

#img {
    width: 100%; 
}

.image {
    width: 50%;
}


.leftRows {
    margin-top: 5%;
}

.iconDiv {
    margin: 0% 3% 0 8%;
    padding-right: 0;
}

.smallText {
    margin: -2% 0 5% 0;
    color: white;
    padding: 0; 
    font-size: 13px;
    line-height: 2;
}

.text {
    font-size: 17px;
    color: white;
    padding: 0;
}

.hr {
    margin-bottom: 0;
    background-color: #4785C3;
    height: 1px;
    border: none;
}

.right-column {
    padding-right: 0;
    background-color: white;
    margin-left: 1.5%;
}

.rightRows {
    margin-top: 3%;
}

.rImages {
    margin: 40% 0 0 50%;
    width: 100%;
}

.rtext {
    padding-right: 0;
    margin-left: 8%;
    color: #767270;
    width: 81.5%;
}

.rIconDiv {
    padding: 0;
    width: 8%
}

.big {
    color: #767270;
    font-size: 15px;
}

.middle {
    color: #78B4DF;
    font-size: 80%;
}

.small {
    color: #767270;
    font-size:12px;
}

.rHr {
    background-color: #CDCDCD;
    border: none;
    height: 1px;
}

.rightHr {
    height: 20px; 
    background-color:#EAE8E7; 
    margin: 0 -10% 0 -24%; 
    border: none
}

.logo { 
    margin-left: 8%;
    width: 9%;
}
