.container {
    margin-top: 1%;
}
.left {
    padding-bottom: 100%;
    padding-top: 1%;
    background-color:#DFE3EE;
    margin-bottom: 0%;    
    padding-left: 0px;
    padding-right:0px;
}

.left-navbar {
    padding-bottom: 0%;
}

.list a {
    color: #515152;
    font-size: 16px;
    padding: 15px;    
}

.list>ul>li>a:hover{
    color:white;
    background-color: #807AA6;
}

.list>ul>li>a:focus{
    color:white;
    background-color: #807AA6;
}
.list>ul {
    width: 100%;
    padding: 0;
}

.list>ul>li {
    padding: 2px;
    line-height: 1.5;
}

.line {
    background-color:#C7CCD9;
    padding: 0px 10px 0px 10px;
    margin: 10px;
}

.btn {
    width: 15%;
    color: #fff;   
    background-color: #807AA6;
    border-radius: 30px;
    float: right;
    margin-top: 1%;
    margin-right: 5%;
}
.btn:hover {
    background-color:#807CC6;
    color: #ffffff;
}

.btn:focus {
    outline: 0 !important;

    background-color:#807CC6;
    color: #ffffff;
}

.btn:active{ 
    outline: 0 !important; 
    background-color:#807CC6; 
    color: #ffffff; 
}

.right {
    margin-bottom: 10%;
}
.topMenu {
    box-shadow: 2px 2px 2px 2px #DFE3EE;
}
#column1 {
    border-right: 1px solid #CBCFDC;
    border-bottom: 1px solid #CBCFDC;
}

#column4 {
    border-top: 1px solid #CBCFDC;
    border-left: 1px solid #CBCFDC;
}
.wish {
    margin-top: 20px;
    padding:30px;
    padding-left: 25px;
    background-color:white;
}

.wish1 {
    padding-top: 20px;
    padding:30px;
    padding-left: 25px;
    background-color:white;
}
.text {
    opacity:0.8;
}

.color {
    color: #807AA6;
}
.spanClass {
    float: right;
}

.imageText {
    display: inline-block;
    float: left;
    padding-left:1%;
    margin-left: 2%;
}
