<!DOCTYPE html>
<html>
<head>
  <title>Welcome to IMForms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="#">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch'
        href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  

    <script src="js/index.js" defer></script>
    <script src="js/validation.js" defer></script>
</head>

<body class="img">
<!--Header-->
<!--TODO img id is duplicated (done)-->
<div class="container img">
  <div class="row" id="first_row">
    <div class="col-md-2 col-xs-12">
      <h1>IMForms</h1>
    </div>
    <!--TODO why do we need the div ? I guess just to have Create Online Forms on the right part of the page in that case please use push right BS class (done) -->
    <div class="col-md-4 col-xs-12 pull-right" id="right-text">
      <h3>Create Online Forms</h3>
    </div>
  </div>

  <!--Login Area-->
  <div class="row" id="login-field">
    <!--TODO  I guess the following div is redundant (done)-->
    <div class="col-md-6 pull-right">
      <div class="log-container">
        <div class="card"></div>
        <div class="card">
          <h1 class="title">Login</h1>
          <form>
            <div class="input-log-container">
              <input type="text" id="username" required="required">
              <label for="username">Username</label>
              <div class="bar"></div>
            </div>

            <div class="input-log-container">
              <input id="pass" required="required" type="password">
              <label for="pass">Password</label>
              <div class="bar"></div>
            </div>

            <div class="button-log-container">
               <!-- TODO I believe in this case button type should be submit. Let's discuss it verbally -->

              <button type="submit"><span>Login</span></button>
            </div>

            <div class="footer"><a href="#"></a></div>
          </form>
        </div>

        <div class="card alt" ng-app="form-example-modify-validators">
          <div class="toggle pen"></div>
          <h1 class="title">Register
            <div class="close"></div>
          </h1>
	  <form name="form"  novalidate>
              <div class="input-log-container form">
   	      <input type="text" ng-model="myUsername" overwrite-username name="overwrittenUsername" required>
    	      <label for"Username">Username</label>
              <div class="bar"></div>
    	      <span ng-show="form.overwrittenUsername.$invalid && form.overwrittenUsername.$touched">Pleas enter username!</span><br>
	  </div>

            <div class="input-log-container form">
      <input type="email" ng-model="myEmail" overwrite-email name="overwrittenEmail" />
    <label for"email">Email</label>
              <div class="bar"></div>
    <span ng-show="form.overwrittenEmail.$error.email">This email format is invalid!</span><br>
</div>

            <div class="input-log-container form" >
      <input type="password" ng-model="myPassword" overwite-password name="password" />
    <label for "password">Password</label>
              <div class="bar"></div>
    <span ng-show="!Password_REGEXP.test(myPassword)">This password format is invalid!</span><br>
</div>

            <div class="input-log-container form">
      <input type="password" ng-model="myRepeat" overwrite-email name="overwrittenRepeat" />
    <label for "repeat">Repeat Password</label>
              <div class="bar"></div>
    <span ng-show="myRepeat !== myPassword">No repeat password!</span><br>
</div>

            <div class="button-log-container">
              <button type="button" id="submit" disabled onclick="window.location.href='html/select.html'"><span>Next</span></button>
            </div>
</form>
</div>
        </div>
      </div>
    </div>
    <!--TODO JS scripts should be included in head part (done)-->


  </div>
</div>
</body>
</html>
