.start {
	background: url(../container/sea.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
	text-align: center;
}

.game {
    background-color: #9de7f9;
}



#tables {
    display: flex;    
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#table1, #table2 {
    border: 1px solid black;
    background-image: url(../container/sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	margin: 0 20px 0 50px;
}

td {
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    border: 1px solid black;
    
}

#ships {
    margin: 60px 0 60px 60px;
    text-align: center;
    display: flex;
}


#carrier {
	background-color: #28c5ed;
	height: 40px;
    border: none;
    color: white;
    width: 180px;
    padding: 10px;	
	margin: 10px;

}

#battleship {
	background-color: #28c5ed;
    height: 40px;
    width: 120px;
    padding: 10px;
    border: none;
    color: white;
	margin: 10px;

}


#cruiser {
	background-color: #28c5ed;
    height: 40px;
    width: 100px;
    padding: 10px;
    border: none;
    color: white;
	margin: 10px;
}

#frigate {
	background-color: #28c5ed;
	height: 40px;
    width: 60px;
    padding: 5px;
    border: none;
    color: white;
	margin: 10px;

}

.Image {
	background-image: url(../container/ship.png);
	background-size: contain;
    background-repeat: no-repeat;
}

.right {
	background-image: url(../container/boom.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.wrong {
	background-image: url(../container/oops.png);
	background-size: contain;
    background-repeat: no-repeat;
}

.yes {
	background-image: url(../container/right.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.no {
	background-image: url(../container/wrong.png);
	background-size: contain;
    background-repeat: no-repeat;
}

#init {
	background-color: #28c5ed;
	padding: 50px;
	font-size: 24px;
	color: white;
	border-radius: 20px;
	border-color: #5dd3ea;
	position: absolute;
    top: 40%;
}

.win {
	background: url(../container/Win.jpg) center center fixed;
	background-size: cover;
    background-repeat: no-repeat;
}


.lose {
	background: url(../container/game_over.jpg) center center fixed;
	background-size: cover;
    background-repeat: no-repeat;
}
	

