<!DOCTYPE html>
<head>
    <title>Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--script type="text/javascript" src="app.js" defer></script-->
    <link rel="stylesheet" href="./css/table.css">
</head>

<body>
    <div ng-app="" ng-init="names={
    cv1:{fname:'Smbat', lname:'Mukuchyan', country:'Armenia'},
    cv2:{fname:'Exo', lname:'Exiazaryan' ,country:'USA'},
    cv3:{fname:'Mrdo', lname:'Mashkaryan' ,country:'Russia'}
    }">
        <table>
            <tr ng-repeat="x in names"> 
                <td> {{ $index + 1 }} </td>
                <td ng-repeat="y in x">
                    {{ y }} 
                </td>
            </tr>
        </table>
    </div>
</body>
