body {
	background-color: #eae8e7;
	color: #767270;
}
* { 
    font-family: 'Roboto', sans-serif;
}
.basic {
    width: 82%;
    padding-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
}
.menu-img {
    padding-left: 1%;
    padding-top: 1%;
    position: absolute;
}
.left {
    display: inline-block;
    float: left;
	width: 28%; 
	margin-left: 6%;
    margin-bottom: 10%;
	background-color: #5da4d9;
}

.imageMan {
	width:100%;
    margin:auto;
}

.imgText {
   	text-align: center;
    margin-top: -45%;
	color: white;
}

.InfoIcon {
	margin-top: 15%;
	display: block;
}

.colorText {
    font-weight: 300;
    font-size: 10pt;
    line-height: 19pt;
    margin-top: 0%;
    color: white;
    opacity:0.8;
}

.info {   
    display:inline-block;
    vertical-align: top;
    padding-bottom: 10%;
    border-bottom: solid 1px #4683C2;
    float: left;
    width: 75%;
    padding-left: 2%;
    font-color:#808080;

    
}

.icon {
    width: 20%;
	display:inline-block;
    vertical-align: top;
    float: left;
    position: relative;
    padding-left: 3%;
    padding-top: 4%;
}
.skills {
    padding-top: 2%;
    display: inline-block;
    float:right;
    width: 75%;

}

.bold {
    font-size: 12pt;
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 80%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 1px;
    background: #4683C2;
    border: none;
    border-radius: 1px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FEFFFF;
    margin-top: -5px;
}

.right {
    box-shadow: 2px 2px 2px 2px  #cec8c8;
    width: 56%;
    float: right;
    display: inline-block;
    background-color: white;
    margin-bottom: 2%;
    margin-right: 8%;
}

.work { 
    padding: 5%;
    padding-right: 0%;
    margin-bottom: 5%;
}

.infoR {
    font-size: 12px;
    display:inline-block;
    vertical-align: top;
    padding-bottom: 8%;
    float: left;
    width: 84%;
    padding-left: 2%;
    background-color: white;
}
.infoR h1 {
    font-size: 28px;
}
.iconR {
    display: inline-block;
    float: left;
    padding-top: 2%;
    margin-left: 0%;
    width: 12%;
}

.smallWork {
    padding-top: 3%;
    padding-bottom: 2%;
}
.smallWork p {
    color: #5DA4D9;
    opacity:0.8;
}
.smallWork h4 {
    font-size: 15px;
    display: inline;
}

.listIcon {
    display: inline-block;
    width: 13%;
    margin-right: 4%;
}
.listIcon img {
    width: 60%;
}
.classInterestes {
    width: 100%;
    padding-top: 2%;
}

.infoR a {
    margin-top: 15%;
    width: 70%;
    margin-right: 0%;
    margin-left: 10%;
    padding-left: 6%;
    color: #5DA4D9;
    font-size: 16px;
}
.line {
    margin: 3% 0 3% 0%;
    border-top: 1px solid #999;
}
