.container {
    background: orange;
}

.circle {
    border-radius: 100%;
    position: absolute;
}

#stop {
    width: 20%;
    margin-left: 40%;
    background: black;
    font-size: 120%;
    color: white;
}
