body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    min-width: 1000px;
}

.startButton {
    background-color: #0dbbab;
    font-size: large;
    margin-top: 25%;
    margin-left: 45%;
    width: 13%;
    height: 60px;
}

.startButton:hover {
    font-size: x-large;
    background-color: #0dbba0;
}

.ships {
    background-color: #d9f7ff;
    opacity: 0.8;;
    display:none;
    width: 40%;
    height: 80px;
    margin-left: 7%;
    margin-top: 2%;
    box-shadow: 10px 10px 5px #888888;
}

.shipArea {
    background-color: #d9f7ff;
    opacity: 0.8;
    display:none;
    width: 600px;
    height: 600px;
    margin-left: 7%;
    margin-top: 3%;
    box-shadow: 10px 10px 5px #888888;
}

table {
    width: 100%;
}

.partOfShip{
    border: solid 1px #000;
    margin: 0;
    background-color: #fff;
}

.ship {
    display: inline;
    margin-left: 7%;
    margin-top: 5%;
}

.part {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: solid 1px #000;
    margin-left: 6%;
    margin-top: 2%;
    background-color: #05bbb0;
}

#shipArea2 table td {
    background-color: #95fff5;
}

.goButton {
    display: none;
    margin-left: 20%;
    margin-top: 1%;
}