/* Reset all default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Page background */ 
body {
    background: radial-gradient(circle, #ffffff 15%, #cccccc);
}

/* Whole calculator area */
#calculator {
    width: 430px;
    height: auto;
    margin: 150px auto;    
    padding: 20px 20px 10px 10px;
    background: linear-gradient(#00969c, #31a6aa);
    box-shadow: 0 2px 5px #666666, 0px 10px 15px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

/* Clear button */
#clear {
    background-color: #ea8888;
    border-color: #ea7f7f;
    float: left;
}

/* Hover effect for clear button */
#clear:hover {
    background-color: #ef7575;
    border-color: #ed6a6a;
}

#input {
    width: 310px;
    height: 55px;
    margin: 5px 5px 5px 5px;
    padding: 10px 20px;
    float: right;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.4);
    font-size: 40px;
    font-family: arial;
    line-height: 55px;
    color: #ffffff;
    text-align: right;
    letter-spacing: -5px;
}

/* Each button */
.button {
    width: 70px;
    height: 55px;
    background-color: #fafafa;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: arial;
    border: 1px solid #efefef;
    box-shadow: 0px 2px #494949, 0px 10px 15px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer; 
}

/* Hover effect for buttons */
.button:hover {
    background-color: #dddddd;
    border-color: #cccccc;
}

/* Operation buttons */
.operation {
    background-color: #fafafa     
}
