body {
    background-image:url('../resouces/ship.jpg');
    background-repeat: no-repeat;
    background-size: 130%;
}

.container {
    width: 400px;
    margin: auto;
}

.btn {
    width: 400px;
    color: white;
    background-color: cadetblue;
    height: 40px;
    text-align: center;
    font-size: 200%;
}

.startImage {
    margin: auto;
    width: 100%;
}

.startButton {
    width: 100%;
    background-color: cadetblue;
    font-size: 500%;
    color: white;
    vertical-align: middle;
}

.square {
    border:1px solid #CCC;
    border-collapse:collapse;
    width: 30px;
    height: 30px;
    padding:0; margin:0;
}

table {
    border-collapse: collapse;
	width: 400px;
	height: 400px;
}

.shipArea {
    height: 160px;
}