#changeBack, #changeImg, #refresh {
    background-color: rgb(189, 189, 189);
    margin:2% 2% 2% 2%;
    width:27%;
    box-shadow:2px 2px 2px 2px black;
}

#changeBack:hover, #changeImg:hover, #refresh:hover{
    font-size: 18px;
}

#global {
    width: 400px;
}