/*cv.html*/
body {
    background: #EAE8E7;
}

h4 {
    margin-top: 0%;
    margin-bottom: 0%;
}
#container {
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
}

#left-column {
    background: #5DA4D9;
    width: 33%; 
    display: inline-block;
    float: left;
}

#img {
    display: block;
    width: 100%; 
}

.icon {
    width:7%;
    display: inline-block;
    float: left;
    margin-top: 10%;
}

#icons-column {
    margin-top: 0px;
    width: 92%;
    margin-left: 8%;
    display: inline-block;
    float: left
}



#right-column {
    display: inline-block;
    width:65%;
    margin-top: 0px;
    float:left;
}


.default {
    display: inline-block;
    float: left;
    width: 78%;
    border-bottom: 1px solid #4683C2;   
    padding-bottom: 10%; 
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 0%;
    color: white;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    line-height: 19pt;
    margin-top: 0%;
    color: #D5E7F5;
}

.bold {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    line-height: 17pt;
    margin-top: 0%;
    color: white;
   
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 80%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 2px;
    background: #4683C2;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #FEFFFF;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

.work {
    width: 100%;
    margin-left: 5%;
    margin-bottom:5%;
    background: #FFFFFF;
    display: inline-block; 
    margin-top: 0%;
    box-shadow: 2px 2px 10px grey;
    color: #767270;
}

.bigIcon {
    width:12%;
    display: inline-block;
    float: left;
    margin-top: 5%;
    margin-left: 2%;
}

.title {
    margin-left: 20%;
    margin-top: 7%;
}

.article {
    margin-left: 20%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    border-bottom: 1px solid #767270;

}

.date {
    color: #65A8DA;
    margin-top: 1.5%;
    margin-bottom: 0%;
}

.arttext {
    margin-right: 10%;
    margin-top: 2px;
}

#lastart {
    border-bottom: none;

}

nav {
    margin-left:17%;
}
.navIcon {
    width: 10%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.link {
    margin-left: 20%;
    text-decoration: none;
    color: #65A8DA;
}

footer {
    width: 100%;
    margin-left: 5%;
    margin-bottom:5%;
    background: #FFFFFF;
    display: inline-block; 
    margin-top: 0%;
    box-shadow: 2px 2px 10px grey;
    color: #767270;
    padding-top: 4%;
    padding-bottom: 4%;
}
