
.rectangle {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: rect;
    animation-duration: 4s;
    animation-iteration-count: 10;
}

@keyframes rect {
    0% {background-color:red; left:0; top:0;}
    25% {background-color: blue; left:500px; top:0;}
    50% {background-color: yellow; left:500px; top:500px;}
    100% {background-color: green; left:0px; top:500px;}
    
}
