body {
    background-image: url("../images/bubble.jpg");
    background-size: cover;
}
#global{
    width:85%;
    margin:2% 7% 7%;
}
#my_canvas {
    background-color: black;
    border:solid 5px #fbfffb;
    width: 100%;
    border-radius: 15px;
    z-index: -1;
}