<header class="header">
  <h1 class="title">
     IMForms
  </h1>
</header>
<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" >
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" required />
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"  required />
            <button class="btn btn-primary">Login</button>
    </form>
</div>


