.login-form {
    margin:auto;
    width: 400px;
    padding: 10px;
}

.login-button {
    background:green;
    width: 100%;
    height: 40px;
    color: white;
    outline-style: none;
    font-size: 15px;
}

.log-pass {
    margin:10px 0 10px 0;
    width: 100%;
    height: 40px;
}

.login-image {
    margin: 25% 25% 20% 25%;
    border-radius: 100%;
    width:50%;
    height:50%;
}

.cancel-button {
    margin:10px 0 10px 0;
    width: 20%;
    height: 40px;
    background: red;
    font-size: 15px;
    color: white;
    outline-style: none;
}


