<!DOCTYPE html>
<html lang = "en-US">
<head>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
</head>
<body ng-app="instItc" ng-controller="itcCtrl">

<h1>Login Page</h1>

<login></login>

<table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
          Age
            <span ng-show="sortType == 'age' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'score'; sortReverse = !sortReverse">
          Score
            <span ng-show="sortType == 'score' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'score' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="student in itc | orderBy:sortType:sortReverse" ng-if="student.age>18" >
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.score }}</td>
      </tr>
    </tbody>
    
  </table>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<script src="../module.js"></script>
</body>
