#body {
    background-image: url("../sources/Bubble-Backgrounds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#my_canvas {
    margin-top: 6%;
    margin-left: 15%;
    background-color: #002;
    border: 1px solid #002;
    border-radius: 20px;
    min-width: 500px;
    width: 65%;
    min-height: 500px;
    z-index: -1;
}
