body {
    display: flex;
    text-align: center;
}

.reset {
    margin-top: 50px;
    float: right;
    width: 60px;
    height: 40px;
    font-size: 16px;
}

.lose {
    width: 300px;
    height: 260px;
    background: url("../image/win.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}

.warArea {
    margin: 10px;
}

.mtbutton {
    width: 50px;
    height: 40px;
    float: right;
}

.warArea {
    width: 520px;
    background-color: white;
}

.shipF {
    width: 50px;
    float: right;
    background-color: white;
    border: 3px #1c96ff;
    margin-left: 50px;
}

