.top-navigation-bar {
    box-shadow: 2px 2px 0px 0px black;
    border-radius: 0%;
}

.active {
    background-color:rgb(130, 122, 170);
}

.active-href {
    color: white !important; 
}

.left-menu {
    background-color: green; /*#dfe3ee;*/
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn {
    border-radius: 50px;
    float: right;
    background-color:rgb(130, 122, 170);
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

a {
    color: grey;
}

li :hover {
    background-color: rgb(130, 122, 170) !important;
    color: white !important;
}


