.styleOfImage {
    margin:auto;
    width:50%;
}

.container {
    width: 50%;
    margin: auto;
    border: solid 2px #ccc;
}

.form {
    width: 100%;
}

.form input {
    width: 80%;
    margin: auto;
    display:block;
}

.form label {
    margin-left: 10%;
    width: 20%;
    font-weight: bold;
}

.loginButton {
    background-color:green;
    color: white;
}
