@-webkit-keyframes rainbow {
    0% {
        border-bottom-color: hsl(0, 100%, 50%);
        border-top-color: hsl(0,70%, 50%);
        top: 60%;
        left:10%;
    }
    100% {
        border-bottom-color: hsl(255, 100%, 50%);
        border-top-color: hsl(0, 20%, 50%);
    }
}

.rainbow-border{
    width: 50%;
    border: 4px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 5s infinite alternate;
    position: relative;
    top: 10%;
    left: 10%;
}

