
.video_div{
    height: 100vh;
    z-index: -1;
}

.button_area {
    text-align: center;
    padding-left: 20%;
    margin-top: 250px;
}

.button {
    display: block;
    background-color: #fdfdfd;
    color: #00969c;
    font-family: arial;
    border: none;
    outline: none;
    font-size: 250%;
    box-shadow: 4px 4px 5px #555555;
    padding: 3%;
    margin-top: 20px;
    white-space: nowrap;
}

.row-change {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../sources/select_page.png");
    background-position: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.button:hover {
    background-color: #EAEAEA;
    color: #2FA7AB;
    box-shadow: 5px 5px 6px #555555;
}

@media (max-width: 400px) {
    .button_area {
	height: 100vh;
        padding-top: 100px;
	margin: 0;
    }
}

@media (max-width: 1000px) {
    .row-change {
        background-size: cover;
    }
}
