/*TODO Styles provideing by using tag name as selector is not preferable even if you have used seperate css file*/
body {
  color: white;
  text-align: center;
}

a {
  color: inherit;
  text-align: left;
}

h1 {
  font-size: 3em;
}
