body {
    display: flex;
}

#input {
    margin-left: 15px;
    width: 245px;
    height: 40px;
    font-size: 20px;
}

.calc {
    display: inline-block;
    margin-left: 10%;
    margin-top: 10%;
}

.btn-primary {
    width: 50px;
}