body {
    background-color: #eae8e7;
    padding-top: 1%;
    padding-bottom: 5%;
}
.container {
    max-width: 1000px;
}
.prof_img {
    padding: 0px;
    margin: 0px;
    background-image: url(../container/man.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.menu {
    padding-left:10px;
    padding-top:10px;
}

.photo_text {
    color: white;
    padding-left: 20%;
    padding-top: 40%;
}
.col-sm-4 {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    line-height: 17pt;
    font-weight: 300;
    background-color: #5da4d9;
    color: white;
}

.left_text {
    border-bottom: 1px solid #4783c2;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    line-height: 17pt;
    font-weight: 300;
    background-color: #5da4d9;
    color: white;
}
span {
    opacity: 0.7;
    font-weight: 300;
}

